<html>
    <head>

        <link rel="stylesheet" href="/css/styleform.css">

    </head>


    <body>


        
<div class="login-page">
    <div class="form">
      <form class="register-form" method="post">
        <h2 style="color:lightgreen">Admin Login</h2>
        <input type="text" placeholder="Username" name="userName"/>
        <input type="password" placeholder="password" name="password"/>
        
        <button>login</button>
       </form>
      
    </div>
  </div>
      
    </body>

</html>

