<html>
    <head></head>

    <body>

        <form action="#" method="POST">

            Id: <input type="text" name="id" value="<%= speakerdata._id%>">

            <br>
            <br>
            <br>

            Name :<input type="text" name="username" value="<%= speakerdata.usrname%>">
            <br>
            <br>
            <br>
            password :<input type="text" name="" value="<%= speakerdata.password%>">
            <br>
            <br>
            <br>
            age :<input type="text" name="id" value="<%= speakerdata.age%>">




        </form>
    </body>


</html>